.projects {
    padding: 50px 20% 100px 20%;
    background: #dc7c48;
    color: #2b5a5c;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30%, auto));
        grid-gap: 1.7rem;
        align-items: center;
        margin-top: 5rem;
    }

    &__heading {
        text-align: center;
         
        h2 {
            color: #2b5a5c;
        }

        p {
            color: #2b5a5c;
        }
    }

    .overlay {
        padding: 10px;
    }

    &__box {
        height: 340px;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        background: rgb(185, 150, 150);
        transition: all 0.8s;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &-pokeApi {
            background:  url('../../assets/images/pokemon.jpg') center center;
            background-size: cover;

            .overlay {
                height: 340px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background: rgba(71, 70, 70, 0.5);
                color: white;
                opacity: 0;
                transition: all 0.5s;
                
            }
        
            &:hover {
                transform: translateY(20px);
                transition: all 0.5s ease;
        
                .overlay {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    opacity: 1;
                }

            }
        }

        &-2 {
            background:  url('../../assets/images/sushi.jpg') center center;
            background-size: cover;

            .overlay {
                height: 340px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background: rgba(71, 70, 70, 0.5);
                color: white;
                opacity: 0;
                transition: all 0.5s;
                
            }
        
            &:hover {
                transform: translateY(20px);
                transition: all 0.5s ease;
        
                .overlay {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    opacity: 1;
                }

            }
        }

        &-3 {
            background: #2b5a5c;
            background-size: cover;

            .overlay {
                height: 340px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background: rgba(71, 70, 70, 0.5);
                color: white;
                opacity: 0;
                transition: all 0.5s;
                
            }
        
            &:hover {
                transform: translateY(20px);
                transition: all 0.5s ease;
        
                .overlay {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    opacity: 1;
                }

            }
        }

    }

    &__title p {
        font-size: 30px;
        text-shadow:  1px 0 1px #000,0 1px 1px #000,-1px 0 1px #000,0 -1px 1px #000;;
    }

    &__info p {
        text-shadow:  1px 0 1px #000,0 1px 1px #000,-1px 0 1px #000,0 -1px 1px #000;;
    }

    a {
        text-decoration: none;
    }
}
   
.wave-bottom-projects {
    position: relative;
}
    


   