.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20% 100px 20%;
}
.about-me__photo {
  background: #fff;
  border-radius: 50%;
}
.about-me svg {
  position: relative;
  bottom: -5px;
}
.about-me .photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url("../../assets/images/avatar.png");
  background-size: cover;
  background-color: transparent;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20% 0 20%;
}
.skills__item-img {
  display: flex;
  justify-content: center;
}
.skills .title {
  display: flex;
  justify-content: center;
}
.skills .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 1.7rem;
  align-items: center;
  margin-top: 5rem;
  margin-top: 0;
}
.skills img {
  width: 100px;
}
.skills h3 {
  font-size: 20px;
  color: white;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  text-align: center;
}

.wave-top svg {
  position: relative;
  bottom: -5px;
}

.projects {
  padding: 50px 20% 100px 20%;
  background: linear-gradient(180deg, #7125ce 0%, #150044 100%);
}
.projects .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 1.7rem;
  align-items: center;
  margin-top: 5rem;
}
.projects__heading {
  text-align: center;
}
.projects .overlay {
  padding: 10px;
}
.projects__box {
  height: 340px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background: rgb(185, 150, 150);
  transition: all 0.8s;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects__box-pokeApi {
  background: url("../../assets/images/pokemon.jpg") center center;
  background-size: cover;
}
.projects__box-pokeApi .overlay {
  height: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(71, 70, 70, 0.5);
  color: white;
  opacity: 0;
  transition: all 0.5s;
}
.projects__box-pokeApi:hover {
  transform: translateY(20px);
  transition: all 0.5s ease;
}
.projects__box-pokeApi:hover .overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
}
.projects__box-2 {
  background: url("../../assets/images/sushi.jpeg") center center;
  background-size: cover;
}
.projects__box-2 .overlay {
  height: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(71, 70, 70, 0.5);
  color: white;
  opacity: 0;
  transition: all 0.5s;
}
.projects__box-2:hover {
  transform: translateY(20px);
  transition: all 0.5s ease;
}
.projects__box-2:hover .overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
}
.projects__box-3 {
  background: linear-gradient(180deg, #7125ce 0%, #150044 100%);
  background-size: cover;
}
.projects__box-3 .overlay {
  height: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(71, 70, 70, 0.5);
  color: white;
  opacity: 0;
  transition: all 0.5s;
}
.projects__box-3:hover {
  transform: translateY(20px);
  transition: all 0.5s ease;
}
.projects__box-3:hover .overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
}
.projects__title p {
  font-size: 30px;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.projects__info p {
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.projects a {
  text-decoration: none;
}

.wave-bottom {
  position: relative;
  background-color: gray;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20%;
  background: gray;
}

.nav {
  position: fixed;
  background-color: #06111c;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.nav .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}
.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

h2 {
  text-align: center;
  font-size: 50px;
  color: white;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
}

p {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
}/*# sourceMappingURL=style.css.map */